html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.who {
    background: url("http://images.akamai.steamusercontent.com/ugc/26229066303255130/AAF91EC92F305495094A5D0BE55F606E0A515143/");
}